    <div class="rslides_container">
      <ul class="rslides" id="learnmore_slider">

    <li><div class="slide_box">
    <div class="main__banner">
    <h1>{{@blog.title}}</h1>
    <h2>{{@blog.description}}</h2>
    <p id="button-wrap-inner">
        <!--<a id="learnmore__btn_id", class="learnmore__btn" href="//speakerdeck.com/player/1274175027cb0132ab8f668b8ed88715">Learn more</a>
        &nbsp;&nbsp;or&nbsp;&nbsp; --><a id="try_api_btn_id", class="learnmore__btn" href="http://myvariant.info/v1/api">Try live API now</a>
    </p>
    <p id="metadata_timestamp"></p>
    </div>
    </div></li>

        <li><object type="image/svg+xml" data="{{asset "images/MyVariant.info_LearnMore_1.svg"}}" alt="learnmore_1">Please use a modern browser!</object></li>
        <li><object type="image/svg+xml" data="{{asset "images/MyVariant.info_LearnMore_2.svg"}}" alt="learnmore_2">Please use a modern browser!</object></li>
        <li><object type="image/svg+xml" data="{{asset "images/MyVariant.info_LearnMore_3.svg"}}" alt="learnmore_3">Please use a modern browser!</object></li>
        <li><object type="image/svg+xml" data="{{asset "images/MyVariant.info_LearnMore_4.svg"}}" alt="learnmore_4">Please use a modern browser!</object></li>
        <li><object type="image/svg+xml" data="{{asset "images/MyVariant.info_LearnMore_5.svg"}}" alt="learnmore_5">Please use a modern browser!</object></li>
        <li><object type="image/svg+xml" data="{{asset "images/MyVariant.info_LearnMore_6.svg"}}" alt="learnmore_6">Please use a modern browser!</object></li>
        <li><object type="image/svg+xml" data="{{asset "images/MyVariant.info_LearnMore_7.svg"}}" alt="learnmore_7">Please use a modern browser!</object></li>

    </ul>
   </div>
